pandas
numpy
scikit-learn
dvc
flask
seaborn
matplotlib
joblib
ensure
PyYAML
tqdm
types-PyYAML
dagshub
xgboost
catboost
lightgbm
optuna
evidently
pytest
python-box
fastapi
uvicorn
Jinja2
MarkupSafe
Werkzeug
gunicorn
python-dotenv
